.root {
    -fx-background-image: url(https://firebasestorage.googleapis.com/v0/b/fastdeli-5cee0.appspot.com/o/Newback.png?alt=media&token=86efe4db-e811-4908-ab6c-75cdd70af796); /* Đường dẫn đến ảnh nền */
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black; /* Thay đổi màu chữ thành màu đen */
}

.field-label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black; /* Thay đổi màu chữ thành màu đen */
}

.textInfo {
    -fx-font-size: 12px;
    -fx-text-fill: purple;
    -fx-font-weight: bold;
}

.action-button, .connect-button, .register-button, .browse-button {
    -fx-background-color: #4CAF50; /* Màu xanh lá cây */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-margin: 5;
    -fx-pref-width: 150px; /* Chiều rộng cố định */
}

.status-label {
    -fx-font-size: 18px;
    -fx-text-fill: red;
}

.section-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.toolbar-button {
    -fx-background-color: #008CBA; /* Màu xanh da trời */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5 15;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.logo-huflit {
    -fx-padding: 20 5 10 15;
}
